@import '../../../styles/mixins.scss';
@import '../../../styles/variables.scss';


.title {
    margin: 1.5rem 0;
}

.buttonVacancies {
    background-color: $button-vacancies;
    color: $text-white;
}

.buttonCompanies {
    background-color: $button-companies;
    color: $text-white;
}
