@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.selectField {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 1rem 0;
    font-weight: 500;

    .select {
        color: $text-dark-gray;
        @include border-radius(0.5rem);
        box-sizing: border-box;
        padding: 0.5rem;
        border: none;
        font-family: var(--font-principal);
        border: 0.1rem solid $border-gray;
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0.5rem;
    }

    .label {
        margin: 0.1rem;
    }
}

.pathVacancies .select {
    &:focus {
        outline: 0.3rem double $button-vacancies;
    }
}
