@import '../../styles/mixins.scss';
@import '../../styles/variables.scss';

.layoutContainer{
    @include border-radius(0.8rem);
    width: 88%;
    margin: 4vh auto;
    background-color: $background-white;
    height: 92vh;
    padding: 1.5rem;

    .title{
        text-align: center;
        padding: 0.2rem;
        font-weight: 800;
    }
}


